*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Euclid Circular A', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
}

.nav{
    width: 100% ;
    background-color: #f8f9fc;
    height: 5rem;
    padding: .2rem;
    display: flex;
    flex-direction: row;   
}

.logo{
    height: 10px;
    color:#111827 ;
    font-weight: bold;
    font-size: 30px;
    margin-left: 5rem;
    margin-top: 1.3rem;   
}

/* The horizontal line under the search bar
#search{
    border-bottom: 1px solid #9CA3AF;   
}
*/

#glass{
    margin-top: 2rem;
    margin-left: 20rem;
    color:#9CA3AF;
    position: relative;
    font-size: 16px;
}

input{
    background-color: #f8f9fc;
    font-family: 'Euclid Circular B', sans-serif;
    margin-top: .3rem;
    margin-right: -.1rem;
    color:#9CA3AF;
    font-size: 15px;
    padding-left: .8rem; 
    border: none;
    font-weight: 200;
}

.others{
    margin-left: 17rem;
}
    
.link{
    text-decoration: none;
    color:#6B7280;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    padding: .5rem;
    font-weight: 400;

}

.bold{
    color:#000000;
    font-weight: 500;
}

.basket{
    width:30px;
    height:28px;
    margin-top: 1.2rem;
    margin-left: .5rem;
}

header{
    width: 100%;
    height: 3.8rem;
    background-color: #ffffff;
}

.items{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1.4rem;
}

.items li a{
       text-decoration: none;
       color: #374151;
       font-size: 13px;
       font-weight: 700;
       padding: .2rem;
}

.active{
    color: white;
    background-color: red;
    padding: .4rem;   
}

.parent{
    width: 100%; 
}

.div1{
    width: 65%;
    height: 35rem;
    float: left;
    background-color: #192233;
    margin-bottom: 8rem;
}


.group{
    width:100%;
    height: 35rem;
    z-index: 1;   
}

.order{
    width:35vw;
    height: 45vh;
    margin-top: 1rem;
    background-color: #1F2937;
    position: absolute;
    top: 30%;
    left: 8%;  
    padding: 1.5rem;
    margin: 1.5rem;
}

h1{
    font-size: 60px;  
    text-align: justify;
    color: #FAFAFA; 
}

h2{
    font-size: 60px;
    text-align: justify;
    margin-top: .5rem;
    color: #F7C59F;
}

p{
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    color: #FAFAFA; 
}

#order{
    background-color: #1F2937 ;
    text-decoration: none;
    padding: .6rem 4rem .6rem .6rem;
    border: 1px solid #FAFAFA;
    color: #ffffff;
    margin-right: 1rem;
    font-size: 14px;
}

i{
    z-index: 1;
    color: #ffffff;
    position: relative;
    font-size: 20px;
}

.div2{
    width: 35%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7C59F;
    float: right;
    margin-bottom: 8rem;
}

.circle{
    width: 55%;
    height: 55%;
    float: right;
    background-color: #ffffff;
    border-radius: 55%;

}

.girl{
    height: 70%;
    position: absolute;
    top:22%;
    right: 8%;
}

.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;  
}

.title{
    color: #192233;
    text-align: center;
    margin-bottom: 3rem;
    }

    hr{
        width: 80px;
        border: 3px solid #192233;
        border-radius: 5px;
        margin-left: 36rem;
        margin-top: .5rem;
    
    }

    .photo-gallery{
        width: 100%;
    }

    .column_a{
        margin: auto;
    }

    .photo_1{
        width:35%;
        float:left;
    }

    .exclusive{
        width:15vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 135%;
        left: 16%;  
    }

    .ex{
        font-size: 50px;
        color: #ffffff;
        font-weight: 600;
        text-align: center;
        margin-left: 3.5rem;
    }

    .shoes{
        width:14vw;
        height: 13vh;
        position: absolute;
        top: 120%;
        right: 32%;
        background-color: rgba(36, 34, 34, 0.5);
    }

    .es{
        font-size: 15px;
        color: #ffffff;
        font-weight: 500;
        margin-left: 1rem;    
    }

    .price{
        font-size: 10px;
        margin-top: -3.1rem;
        margin-left: 1rem;
        opacity: 0.7;
    }

    .off{
        font-size: 14px;
        margin-top: -2.8rem;
        margin-left: 1rem;
        color: #ffffff;
        opacity: 0.7;
    }

    .photo_2{
        width: 60%;
        float: right;
    }

    .collection{
        width:35vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 135%;
        left: 45%;  
    }

    .styles{
    font-size: 50px;
    font-stretch: expanded;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-left: 3.5rem;
    }

    .shoe{
        width:17vw;
        height: 13vh;
        position: absolute;
        top: 120%;
        left: -5%;
        background-color: rgba(36, 34, 34, 0.5);;
    }

    .esc{
        font-size: 15px;
        color: #ffffff;
        font-weight: 500;
        margin-left: 1rem; 
    }

    .column_b{
        position:absolute;
        top: 185%;
    }
    
    .photo_3{
        width:60%;
        float:left;
    }

    .new{
        width:35vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 30%;
        left: 4%;  
    }

    .Arrival{
    font-size: 50px;
    font-stretch: expanded;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-left: 3.5rem;
    }

    .sho{
        width:14vw;
        height: 13vh;
        position: absolute;
        top: 115%;
        right: 66%;
        background-color: rgba(36, 34, 34, 0.5);
    }

    .na{
        font-size: 15px;
        color: #ffffff;
        font-weight: 500;
        margin-left: 1rem; 
    }

    .photo_4{
        width: 36%;
        float: right;
    }

   
    .item{
        width:15vw;
        height: 25vh;
        margin-top: 1rem;
        background-color: transparent;
        position: absolute;
        top: 22%;
        right: 10%;  
    }

    .Exc{
    font-size: 50px;
    font-stretch: expanded;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-left: 3.5rem;
    }

    .sh{
        width:15vw;
        height: 13vh;
        position: absolute;
        top: 135%;
        right: 25%;
        background-color: rgba(36, 34, 34, 0.5);
        
    }

    .ei{
        font-size: 15px;
        color: #ffffff;
        font-weight: 500;
        margin-left: 1rem; 
        
    }